@font-face {
  font-family: "rubik";
  src: url("../fonts/ofl/rubik/Rubik-VariableFont_wght.ttf");
}

body {
  background-color: #000400;
  color: #66ff66;
  font-family: "rubik", monospace;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 3fr 2fr 12fr 1fr;
}

.nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: square;
  color: #3333ff;
}


a:hover {
  color: #9900ff;
}

a {
  text-decoration: none;
  color: #3333ff;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6em;
  color: #33ff33;
}
