body {
  background-color: #001200;
  color: #33ff33;
  font-family: monospace;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 3fr 2fr 12fr 1fr;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title h1 {
  font-size: 2em;
  color: #33ff33;
}

.nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav li {
    list-style: square;
    color: #3333ff;
}

a:hover {
  color: #9900ff;
}

a {
  text-decoration: none;
  color: #3333ff;
}

